.login {
    color: black;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .login_form {
    padding: 20px 40px;
  
  }
  
  .login_form input{
    height: 40px;
    width: 350px;
    padding: 0 5px;
    font-size: 18px;
    outline: none;
    border: 1px solid blue;
    border-radius: 8px;
  }
  .login_form button{
    margin: 20px 0 0 0 ;
    height: 45px;
    width: 350px;
    color: white;
    background: blue;
    border-radius: 8px;
  }
  .login_form #error{
      color:red;
  }