.container {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: row;
    /* background: linear-gradient(45deg, #03A9F4, #4CAF50); */

    background-size: cover;
    background-attachment: fixed;
    background-image: url('https://cdn.dribbble.com/users/722246/screenshots/2105878/attachments/380895/Bays_Nights.jpg') ;
}

.screen {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.areas {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    'user board'
    'user chat'
    'user chat';
    grid-gap: 20px;
}

.color-picker-container {
    text-align: center;
    display: inline;
    color: white;
}

.brushsize-container {
    display: inline;
    color: white;
    margin-left: 12px;
}

.tools-section {
    text-align: center;
}

.user {
    display: flex;
    flex-direction: row;
    grid-area: user;
    background-color: #FFF;
    border-radius: 10px;

    width: 250px;
    height: 560px;
    margin-left: 160px;
    border-radius: 2rem;  
    float: left;
}

.board-container {
    grid-area: board;
    background: white;
    border-radius: 10px;
    width: 600px;
    height: 340px;
}