.chat {
    width: 600px;
    height: 190px;
    background-color: white;
    margin-top: 20px;
    border-radius: 2rem;
    border-color: rgb(35, 35, 168) ;
}

#messages {
    overflow: hidden; 
    overflow-y: scroll; 
    height: 80%; 
    margin-top: 5px; 
    border-radius: 2rem;

    list-style-type: none;
    margin: 0;
    padding: 0;
}

#messages > li { padding: 0.5rem 1rem; }
#messages > li:nth-child(odd) { background: #efefef; }

form {
    height: 20%; 
    margin-left: 20px; 
    margin-top: 2px;
}

#form > button { 
    background: #333; 
    border: none; 
    padding: 0 1rem; 
    margin: 0.25rem; 
    border-radius: 3px; 
    outline: none; 
    color: #fff;
    height: 50%;
}


#input {
    width: 85%; 
    height: 50%; 
    border-radius: 5px; 
    border-color: rgb(60, 137, 189);
}